<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyArh33PhURy0LtYvJXsBR4fmGv_QuYLIpc</string>
	<key>GCM_SENDER_ID</key>
	<string>506043633582</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.nexatalk.nexatalk</string>
	<key>PROJECT_ID</key>
	<string>nexa-talk-169ff</string>
	<key>STORAGE_BUCKET</key>
	<string>nexa-talk-169ff.firebasestorage.app</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:506043633582:ios:856e4cd19705bf37c6823f</string>
</dict>
</plist>
